.statsbar {
  flex: 1
}

.statsbar.lows {
  padding: 12px 0px 0px 0px;
}

.statsbar.highs {
  padding: 12px 0px 0px 0px;
}

.carreContainer {
  width: 100%;
  text-align: center;
  height: 4px !important;
  margin-bottom: 2px;
}

.meters-body {
  display: flex;
}

.meters-area {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.meters-type {
  width: 5em;
  text-align: center;
}

.meters-tile {
  flex: 1;
  margin: 0.5%;
  background-color: green;
  height: 1em;
}

.low {
  background-color: red; 
}

.high {
  background-color: green; 
}


.empty {
  background-color: rgba(0, 0, 0, 0.1);
}