.data-section {
  margin-top: 1em;
}

.data-section-large {
  margin-top: 2em;
}

.popular {
  margin-left: 1em;
}

.column-flex {
  flex-direction: column;
}

.static-bar {
  background: #1a1c23;
  padding-top: 1.5ex;
  padding-bottom: 1.5ex;
}

.static-img {
  width: 1.5em;
  height: 1.5em;
}

.white-no-wrap {
  white-space: nowrap;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-20 {
  font-size: 20px;
}

.dash-font-color {
  color: #6d7291;
}

.white-color {
  color: white;
}

.img-15 {
  width: 15px;
  height: 15px;
}

.img-30 {
  width: 30px;
  height: 30px;
}

.overflow-scroll {
  overflow: scroll;
}

.border-radius-10 {
  border-radius: 10px;
  border: 1px solid gray;
}

.input-border {
  outline: none !important;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 13px;
}

.table-height {
  height: 400px;
}

.table-scroll {
  overflow: scroll;
}

.tableFixHead {
  overflow-y: auto;
  height: calc(40vh);
}

.tableFixHead thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }

th {
  background:#191c24;
}

.bar-icon {
  width: 30px;
  height: 30px;
  background: rgba(108, 114, 147, 0.2);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-txt {
  margin-left: 1em;
}
