.data-section {
  margin-top: 1em;
}

.data-section-large {
  margin-top: 2em;
}

.data-section-small {
  margin-top: 0.5em;
}

.popular {
  margin-left: 1em;
}

.column-flex {
  flex-direction: column;
}

.static-bar {
  background: #1a1c23;
}

.static-row {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.static-img {
  width: 1.5em;
  height: 1.5em;
}

.white-no-wrap {
  white-space: nowrap;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-20 {
  font-size: 20px;
}

.dash-font-color {
  color: #6d7291;
}

.white-color {
  color: white;
}

.img-15 {
  width: 15px;
  height: 15px;
}

.img-30 {
  width: 30px;
  height: 30px;
}

.overflow-scroll {
  overflow: scroll;
}

.border-radius-10 {
  border-radius: 10px;
  border: 1px solid gray;
}

.alert-history-color {
  color: rgb(191, 191, 191);
}

.alert-history-separator {
  background: rgb(191, 191, 191);
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.alert-history-data {
  height: 120px;
  overflow-y: scroll;
}

.stockwits {
  position: absolute;
  border-radius: 0 !important;
  width: 15px !important;
  height: 15px !important;
  margin-left: 0.5em;
}

.bg-low {
  background: #ff0100;
}

.text-white {
  color: white;
}

.stock-active-text {
  color: black;
  padding: 0.1em;
  border-radius: 0.2em;
  width: 4em;
}

.stock-active-text:hover {
  cursor: pointer;
}

.stock-active-low {
  background: #e55456;
}

.stock-active-high {
  background: #33b941;
}

.text-low {
  color: #ff0100;
  text-align: center;
}

.bg-high {
  background: #73b101;
}

.text-high {
  color: #73b101;
  text-align: center;
}

.input-border {
  outline: none !important;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 13px;
}

.table-height {
  height: 400px;
}

.table-scroll {
  overflow: scroll;
}

.tableFixHead {
  overflow-y: auto;
  height: calc(45vh);
}

.tableFixHead thead th { position: sticky; top: 0; }

.table td {
  /* padding: 1rem 0.5rem; */
}

.discovery-table {
  overflow-y: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.discovery-table thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }

th {
  background:#191c24;
}

.bar-icon {
  width: 30px;
  height: 30px;
  background: rgba(108, 114, 147, 0.2);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popover-icon {
  font-size: 20px;
}

.bar-txt {
  margin-left: 1em;
}

.socket-table {
  width: 65%;
}

.popular-table {
  width: 35%;
  padding-left: 15px;
}

.stock-text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
}

.stock-header-text {
  font-size: 14px;
  text-align: center;
}

.petitCarre-inactive {
  width: 7px;
  height: 7px;
  background: gray;
  margin: 2px;
}

.petitCarre-active {
  width: 7px;
  height: 7px;
  background: red;
  margin: 2px;
}

.petitCarre-active-high {
  width: 7px;
  height: 7px;
  background: #73B101;
  margin: 2px;
}

.statsbar.lows {
  padding: 12px 0px 0px 0px;
}

.statsbar.highs {
  padding: 12px 0px 0px 0px;
}

.carreContainer {
  width: 100%;
  text-align: center;
  height: 12px;
}

.logo {
  width: 160px;
  text-align: center;
}

.logo h1 {
  font-family: 'Lato';
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 0;
  font-size: 40px;
}

.logo h2 {
  letter-spacing: 0px;
  font-family: "gotham narrow";
  font-weight: 200;
  font-size: 11px;
  margin: 0;
  white-space: nowrap;
}

.swiper-slide {
  width: 250px !important;
}

.swiper-container {
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background: white !important;
}

.bullets-section {
  height: 35px;
}

#search-bar-0 {
  outline: none !important;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 13px;
  height: 34px;
  background: #0d0d0d !important;
  text-align: center;
  color: white;
}

.search-label {
  margin-bottom: 0;
}

.ReactTable {
  margin-top: 15px;
}

.ReactTable .-pagination .-btn {
  background: white;
}

.rt-resizable-header-content {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.rt-td {
  text-align: center;
}

.ReactTable .rt-thead .rt-th {
  padding: 1rem 0.2rem;
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
  background: gray;
}

.btn-max {
  position: absolute;
  right: 0.1em;
  top: 0.1em;
  z-index: 100;
}


/** Small iPads */
@media only screen and (max-width: 812px) {
  .socket-table {
    width: 100%;
  }
  
  .popular-table {
    width: 100%;
    padding-left: 0px;
  }

  .tableFixHead {
    overflow-y: auto;
    height: calc(45vh);
    padding-left: 0;
    padding-right: 0;
  }

  .stock-text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
  }

  .rt-resizable-header-content {
    font-size: 11px;
    font-weight: 500;
    text-align: center;
  }
}

/** Large Mobiles */
@media only screen and (max-width: 767px) {
  .socket-table {
    width: 100%;
  }
  
  .popular-table {
    width: 100%;
    padding-left: 0px;
  }

  .tableFixHead {
    overflow-y: auto;
    height: calc(45vh);
    padding-left: 0;
    padding-right: 0;
  }

  .stock-text {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
  }

  .rt-resizable-header-content {
    font-size: 11px;
    font-weight: 500;
    text-align: center;
  }
}

/** Mobile Devices */
@media only screen and (max-width: 415px) { 
  .stock-header-text {
    font-size: 0.8em;
  }

  .btn-max {
    position: absolute;
    right: 0.1em;
    top: -2.5em;
    z-index: 100;
  }

  th.text-white {
    padding: 0.2em;
  }

  .socket-table {
    width: 100%;
  }
  
  .popular-table {
    width: 100%;
    padding-left: 0px;
  }

  .tableFixHead {
    overflow-y: auto;
    height: calc(45vh);
    padding-left: 0;
    padding-right: 0;
  }

  .stock-text {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
  }

  .input-border {
    outline: none !important;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 13px;
    height: 34px;
    margin-top: 15px;
  }

  #search-bar-0 {
    outline: none !important;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 13px;
    height: 34px;
    margin-top: 15px;
    background: #0d0d0d !important;
    text-align: center;
    color: white;
  }

  .mT15 {
    margin-top: 15px;
  }

  .rt-resizable-header-content {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
  }

  .pagination-bottom .-pagination {
    display: block;
  }

  .stockwits {
    position: absolute;
    border-radius: 0 !important;
    width: 12px !important;
    height: 12px !important;
    right: 32%;
  }
}

@media only screen and (max-height: 415px) {
  .tableFixHead {
    overflow-y: auto;
    height: calc(60vh);
  }
}

.hideWidget {
  color: gray;
}

.showWidget {
  color: white;
}
.data-separator {
  height: 1em;
}

.quote-card {
  padding: 0.5em;
}

.quote-star {
  color: yellow;
}

.table-header {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #2c2e33;
    background: #000000;
}

.table-max {
  height: calc(100vh - 15rem) !important;
  overflow: scroll;
}

.discovery-normal {
  height: calc(50vh);
}

.discovery-max {
  height: 75vh;
}

.add-quote {
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 2;
}

.quotes-area {
  display: flex;
  flex-direction: 'row';
}

.quote-tools {
  display: flex;
  margin-top: 28px;
  margin-bottom: 35px;
  padding-left: 1em;
  padding-right: 1em;
}

.quotes {
  flex: 1;
}