.container {
  display: flex;
  height: 200px;
  margin-left: 0;
  flex-direction: column;
  max-width: 100% !important;
}
@media (min-width: 992px){
  .container{
    max-width: 100% !important;
  }
}
@media (min-width: 768px){
  .container{
    max-width: 100% !important;
  }

}
@media (min-width: 576px){
  .container{
    max-width: 100% !important;
  }
}
@media (min-width: 1200px){
  .container{
    max-width: 130% !important;
  }
}

.ReactVirtualized__Table__headerRow{
  justify-content: space-between;
}
.ReactVirtualized__Table__row{
  justify-content: space-between;
}

.table-row {
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.ReactVirtualized__Table__Grid {
    outline: none;
}

.ReactVirtualized__Table__headerRow {
  border: 0;
}

.ReactVirtualized__Table__headerColumn {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  outline: none;
}

.table-style{
  width: 1320px;
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .table-style{
    width: 600px;
  }
}

.ReactVirtualized__Table__sortableHeaderIcon{
  align-self: center;
  height: 24px !important;
  width: 24px !important;
  fill: #FFFF00 !important;
}

.evenRow {
  cursor: pointer;
  background-color: #191c24;
}
.tableTextColor{
  color:'#9B9B9C'
}
.oddRow {
  cursor: pointer;
  background-color: black;
}

.action-column {
  display: flex;
  flex-direction: row;
}
.action-button-margin {
  margin-right: 16px;
  cursor: pointer;
}
@media (max-width: 599px) {
  .action-column {
    flex-direction: column;
    align-items: center;
  }
  .action-button-margin {
    margin-right: 0;
  }
}

.price-dist {
  position: absolute;
}