.text-pink {
    color: pink;
}

.value-item {
    width: calc(40vw);
    height: auto;
    margin-left: 3em;
    margin-top: 3em;
}

.item-content {
    background: #2d2d2d;
    padding-left: 2em;
    padding-right: 10px;
}

.symbol {
    padding-left: 2em;
}

.text-symbol {
    color: #828282;
}

.text-alert {
    color: #fac138;
}

.progress {
    width: calc(20vw);
}

.progress-value {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 50px;
}

.progress-input {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 50px;
}

.company-name {
    width: 50px;
    text-align: center;
}
